<!DOCTYPE html>
<html>
<head>
	<title>NCAA Index</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/button.min.css">
</head>
<body>

	<div class='flex-container column center'>
		<h1 class='title-header'>Southwest Pod NCAA Tournament</h1>

		<div class='flex-container row center' style='margin-bottom: 20px;'>
			<a id='weeklyPickem' class='ui primary button' href='/ranks'>Top 25 Pick'em</a>
		</div>
		
		<div class='flex-container row center' style='margin-bottom: 20px;'>
			<a id='weeklyPickem' class='ui primary button' href='/ranks/bracket'>Weekly Pick'em</a>
		</div>
	</div>
	</body>
</html>