<!DOCTYPE html>
<html>
<head>
	<title>NCAA Index</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Permanent+Marker" rel="stylesheet">
</head>
<body>

	<h1 class='title-header'>NCAA Top 25 Pick'em</h1>
	
	<div class='main-card main flex-container column'>
		<div class='flex-container row'>
				<div class='flex-container team column'>

					<h2>Week __ Schedule</h2>
					
				</div>
		</div>
	</div>
	<script type="text/javascript" src='/scripts/bracket.js'></script>
</body>
</html>