<!DOCTYPE html>
<html>
<head>
	<title>NCAA Index</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>

	<h1 class='title-header'>NCAA Top 25 Pick'em</h1>
	
	<div class='main-card main flex-container column'>
		<div class='flex-container row'>
			
			
			<div class='flex-container secondary-card tab column'>
				<div class='tab-item center top'>
					<a class='tab-link' href='#'>E</a>
				</div>
				
				<div class='tab-item center'>
					<a class='tab-link' href='#'>G</a>
				</div>
				
				<div class='tab-item center'>
					<a class='tab-link' href='#'>J</a>
				</div>
				
				<div class='tab-item center'>
					<a class='tab-link' href='#'>K</a>
				</div>
				
			</div>

				<div class='flex-container team column'>

					<h2>Week __ Schedule</h2>

				</div>

		</div>
	</div>
	
</body>
</html>