<!DOCTYPE html>
<html>
<head>
	<title>NCAA Index</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Permanent+Marker" rel="stylesheet">
</head>
<body>

	<h1 class='title-header'>NCAA Top 25 Pick'em</h1>
	
	<div class='main flex-container column'>
		<span class='card-header center'>RANKINGS</span>
		<div class='flex-container row'>
			<div class='flex-container tab column'>
				<span class='tab-item active center'>P</span>
				<span class='tab-item center'>1</span>
				<span class='tab-item center'>2</span>
			</div>
			<div class='flex-container team column'>
				<span class='team-card'>Team 1</span>
			</div>
		</div>
	</div>
	
	


</body>
</html>