<!DOCTYPE html>
<html>
<head>
	<title>NCAA Index</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif|Permanent+Marker" rel="stylesheet">
</head>
<body>

	<h1 class='title-header'>NCAA Top 25 Pick'em</h1>
	
	<div class='main-card'>
		
	</div>

</body>
</html>