html {
	width: 100%
}

body {
	text-align: center;
	height: 100%;
	margin: 0;
	background: #36D1DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #36D1DC, #5B86E5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #36D1DC, #5B86E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #177d84;
	font-family: 'Roboto', sans-serif;
}

.title-header {
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 4em;
}

.main-card {
	background-color: #dae1e5;
	border-radius: 2px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.secondary-card {
	background-color: #eef1f3;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.main{
	width: 700px;
	height: 1850px;
	margin: 0 auto;
	margin-bottom: 50px;
	border-radius: 20px;
}

.center {
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	text-align: center;
}

.left {
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	text-align: left;
}

.right {
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	text-align: right;
}

.card-header {
	height: 40px;
	font-size: 2em;
}

.flex-container {
	display: flex;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.section-header{
	flex-direction: row;
}

.tab {
	background-color: #253035;
	flex-basis: 10%;
	border-radius: 20px 0px 0px 20px;
	height: 1850px;
}

.tab-item {
	flex-basis: 70px;
	padding-left: 5px; padding-right: 5px;
}

.tab-item:hover {
	background-color: #334249;
	box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
}

.tab-link {
	color: #eef1f3;
	text-decoration: none;
	font-size: 1.5em;
}

.active {
	background-color: #171e21;
	box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.top {
	border-radius: 20px 0px 0px 0px;
}

.standings {
	height: 35px;
	margin-bottom: 5px;
}

.standings-rank {
	width: 25px;
	height: 35px;
}

.standings-spacer {
	width: 50px;
}

.standings-name {
	width: 100px;
}

.standings-score {
	width: 100px;
}

.team{
	flex-basis: 90%;
	margin-right: 20px; margin-left: 20px;
}

.rank-item {
	flex-basis: 4%;
	margin-left: 10px; margin-right: 10px;
	margin-bottom: 10px;
}

.rank-container {
	flex-basis: 10%;
	font-size: 1.2em;
	font-weight: 800px;
}

.image-container {
	flex-basis: 10%;
}

.logo {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-position: center center;
    background-size: cover;
}

#spacer1 {
	flex-basis: 20%;
}

#spacer1 {
	flex-basis: 15%;
}

.team-container {
	flex-basis: 40%;
}

.owner-container {
	flex-basis: 15%;
}

/*===SCHEDULE CLASSES===*/
.schedule-row {
	height: 70px;
	width: 100%;
	margin-bottom: 30px;
}

.schedule-card {
	width: 44%;
	height: 65px;
	position: relative;
}

.schedule-card.active {
	background-color: #36D1DC;
	color: white;
}

.schedule-card:hover {
	cursor: pointer;
	background-color: #36D1DC;
	color: white;
}

.schedule-logo-left {
	width: 50px;
	height: 50px;
	background-size: cover;
	position: absolute;
	top: 10px;
	right: 10px;
}

.schedule-logo-right {
	width: 50px;
	height: 50px;
	background-size: cover;
	position: absolute;
	top: 10px;
	left: 10px;
}

.schedule-secondary-left {
	font-size: 1em;
	position: absolute;
	top: 10px;
	right: 65px;
}

.schedule-secondary-right {
	font-size: 1em;
	position: absolute;
	top: 10px;
	left: 65px;
}

.schedule-rank-right {
	font-size: 1em;
	position: absolute;
	top: 10px;
	left: 65px;
}

.schedule-primary-left {
	position: absolute;
	top: 30px;
	right: 65px;
}

.schedule-primary-right {
	position: absolute;
	top: 30px;
	left: 65px;
}

.record {
	font-size: 1em;
}

.team-name {
	font-weight: 900;
	font-size: 1.25em;
}

.schedule-middle {
	font-size: 1.25em;
	width: 12%;
	position: relative;
	text-align: center;
}

.spread {
	white-space: pre;
}

/*===CMS CLASSES===*/
.cms-container{
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 30px;
}

.cms-table {
	border-right: 1px solid #C9E1F2;
	border-left: 1px solid #C9E1F2;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.cms-table tr:nth-child(odd) {
	background: #f6fbff;
}

.cms-table tr:nth-child(even) {
	background: #d4edff;
}

.cms-row {
	margin: 5px;
	padding-top: 5px; padding-bottom: 5px;
	padding-left: 20px; padding-right: 20px; 
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #C9E1F2;
	text-align: center;
}

